*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: #2AD1BB;
  height: 60px;
}

 .title {
   float: left;
   font-size: 18px;
   color: white;
 }

 .nav-bar {
   float: right;
 }

 .main-menu{
   display: inline-block;
 }

.container {
  background-color: #195C6C;
  padding: 10px;
  display: inline-block;
}

.ugly-cats {
  width: 30%;
  float: left;

}

.welcome {
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 70px;

}

.cats {
  background-color: #FEC156;
  padding: 10px;
}

.products {
  background-color: #E2DCD0;
  padding: 10px;
}

.rando-cats {
  display: inline-block;
  border: 10px solid black;
  width: 20%;
}

ul img {
  width: 100%;
}


.end {
      background-color: #26547C;
}

.menu {
  text-align: center;
  padding: 10px;
}

.list-item {
  display: inline-block;
  color: red;
  padding: 10px;
  margin: 10px;
  font-size: 40px;

}

.lorem2 {
  color: white;
  padding: 10px;
  font-size: 25px;
  margin: 0;
}


footer {
  background-color: #06D6A0;
  text-align: right;
  padding: 10px;
}
